/* global styles - start */
.gap-2 {
    gap: 0.5rem !important;
}
.bb-1 {
    border-bottom: 1px solid var(--border-color);
}
.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.fs-16 {
    font-size: 16px;
    line-height: 1.7;
}

.fs-14 {
    font-size: 14px;
    line-height: 1.5;
}
.fs-12 {
    font-size: 12px;
    line-height: 1.3;
}
.fs-18 {
    font-size: 18px;
    line-height: 1.9;
}
.fs-20 {
    font-size: 20px;
    line-height: 2.2;
}

.fs-22 {
    font-size: 22px;
    line-height: 2.5;
}

.le-8 {
    letter-spacing: -0.08rem;
}

.le-7 {
    letter-spacing: -0.07rem;
}

.le-6 {
    letter-spacing: -0.06rem;
}

.le-5 {
    letter-spacing: -0.05rem;
}

.le-4 {
    letter-spacing: -0.04rem;
}

.le-2 {
    letter-spacing: -0.02rem;
}

.fw-sb {
    font-weight: 500;
}
.fw-b {
    font-weight: 600;
}
.fw-xb {
    font-weight: 700;
}
.fw-black {
    font-weight: 900;
}
.fw-l {
    font-weight: 300;
}
.fw-xl {
    font-weight: 200;
}
.fw-r {
    font-weight: 400;
}
.color-gray-1 {
    color: #8d9399;
}
.color-gray-2 {
    color: var(--gray-text-2);
}
.color-gray-3 {
    color: #00000050;
}
.line-through {
    text-decoration: line-through;
}

/* global styles - end */
.panel-table {
    /* border: 1px solid #1d1c1c !important; */
    /* box-shadow: 0px 0px 43px -15px rgba(0, 0, 0, 0.15); */
    box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.15);
    border-radius: 10px !important;
    overflow: hidden;
}
.table.panel-table > thead {
    /* border-top: none;
    border-bottom-color: #1d1c1c !important; */
    border: none;
    background-color: #e7e7e7;
    background-color: #f5f6f8;
    padding: 0.1rem 0.2rem !important;
}
.table.panel-table > thead th {
    padding: 1rem 0.5rem !important;
    text-align: center;
}
.table.panel-table > tbody tr {
    border-bottom: none;
}
.table.panel-table > tbody tr:nth-child(even) {
    background: #f5f6f8;
}
.table.panel-table > tbody td {
    text-align: center;
}

.dt-buttons {
    width: 33%;
    float: left;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.dt-length {
    width: 33%;
    float: left;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.dt-search {
    width: 33%;
    float: left;
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
}

.dt-search label {
    padding-top: 10px;
    margin-left: 10px;
}

@media (width < 768px) {
    .dt-buttons,
    .dt-length,
    .dt-search {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media (width < 576px) {
}

.dt-info {
    display: none;
}

.dt-buttons .dt-button {
    color: #fff !important;
    background-color: #1b55e2 !important;
    border-color: #1b55e2;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 5px;
    padding: 5px 15px;
    border-radius: 8px;
}

.dt-paging {
    float: left;
    margin-top: -20px;
}

.dt-paging ul {
    padding-right: 0 !important;
}

.dt-paging button {
    border: 1px solid #004a4b !important;
    color: #004a4b !important;
    background-color: transparent;
    box-shadow: none;
    margin: 0 2px;
    border-radius: 5px;
}

input.dt-input {
    height: auto;
    border: 1px solid #bfc9d4;
    color: #3b3f5c;
    font-size: 15px;
    padding: 8px 10px;
    letter-spacing: 1px;
    height: calc(1.4em + 1.4rem + 2px);
    padding: 0.75rem 1.25rem;
    border-radius: 6px;
}
.dt-column-title {
    color: #6c6565 !important;
}
select.dt-input {
    height: auto;
    border: 1px solid #bfc9d4;
    color: #3b3f5c;
    font-size: 15px;
    padding: 8px 10px;
    letter-spacing: 1px;
    height: calc(1.4em + 1.4rem + 2px);
    padding: 0.2rem 1rem;
    border-radius: 6px;
}
.dt-button.buttons-csv.buttons-html5,
.dt-button.buttons-excel.buttons-html5 {
    --hue: 181;
    --saturation: 100%;
    --lightness: 15%;
    --mainColor: hsla(var(--hue), var(--saturation), var(--lightness), 0.1);
    margin: 0px 5px !important;
    background: #71b6f9 !important;
    border-radius: 0.15rem !important;
    border: 1px solid #71b6f9;
    color: #fff !important;
    transition: 0.25s;
    padding-inline: 2rem;
    padding-block: 0.4rem;
}
.dt-button.buttons-csv.buttons-html5:hover,
.dt-button.buttons-excel.buttons-html5:hover {
    box-shadow: 0px 0px 4px 5px
        hsla(var(--hue), var(--saturation), var(--lightness), 0.05);
}

.dt-paging li {
    margin: 0 5px;
}

.dt-paging li a {
    border-radius: 8px !important;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-btn {
    position: absolute;
    left: 24px;
    top: 10px;
}

@media screen and (max-width: 568px) {
    .card-box,
    .card-body,
    .content-page,
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .tab-content {
        padding: 10px;
    }
}

.map-icon {
    position: absolute;
    z-index: 2;
    font-size: 30px;
    right: 5px;
}

.currentIconLocation {
    font-size: 30px;
}

.leaflet-popup span {
    font-family: "IRANSans";
}

/* bank cart */

.cart {
    width: 95%;
    height: 105%;
    border-radius: 5px;
    box-shadow: 0px 0 6px 1px #262626;
    background-image: linear-gradient(
        to right top,
        #ff6e7f,
        #f58dc9,
        #d2b2f7,
        #b6d2ff,
        #bfe9ff
    );
    margin-bottom: 20px;
}
.cart-header {
    background-color: #fff3;
}
.cart > h4,
.cart > h5 {
    color: #fff !important;
    direction: ltr;
}
.cart .cart-footer {
    padding: 5px 20px;
}
.cart-status {
    background-color: #e4e4e485;
    box-shadow: 0px 0px 4px 2px #f5f5f5;
    border: none;
    border-radius: 5px;
    margin-bottom: 7px;
    color: #000 !important;
}
.cart.cart-black {
    background: rgb(0, 0, 0) !important;
    background: linear-gradient(
        124deg,
        rgba(0, 0, 0, 1) 19%,
        rgba(65, 65, 65, 1) 55%,
        rgba(0, 0, 0, 1) 56%
    ) !important;
}
.cart.cart-blue {
    background: rgb(33, 89, 131) !important;
    background: linear-gradient(
        124deg,
        rgba(33, 89, 131, 1) 19%,
        rgba(52, 153, 214, 1) 55%,
        rgba(1, 106, 174, 1) 56%
    ) !important;
}
.cart.cart-green {
    background: rgb(25, 93, 63) !important;
    background: linear-gradient(
        124deg,
        rgba(25, 93, 63, 1) 19%,
        rgba(62, 146, 100, 1) 55%,
        rgba(0, 93, 46, 1) 56%
    ) !important;
}
.cart.cart-gold {
    background: rgb(170, 139, 56) !important;
    background: linear-gradient(
        124deg,
        rgba(170, 139, 56, 1) 19%,
        rgba(200, 167, 81, 1) 55%,
        rgba(168, 131, 25, 1) 56%
    ) !important;
}
.cart.cart-silver {
    background: rgb(159, 160, 161) !important;
    background: linear-gradient(
        124deg,
        rgba(159, 160, 161, 1) 19%,
        rgba(200, 204, 207, 1) 55%,
        rgba(170, 174, 177, 1) 56%
    ) !important;
}
.cart.cart-cherry {
    background: rgb(128, 35, 28) !important;
    background: linear-gradient(
        124deg,
        rgba(128, 35, 28, 1) 19%,
        rgba(186, 70, 68, 1) 55%,
        rgba(133, 0, 0, 1) 56%
    ) !important;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    /* width: 400px !important;
    height: 230px !important; */
    width: 400px;
    height: 230px;
}
@media (width <= 576px) {
    div.widget-content.widget-content-area.br-6 {
        margin-top: 35px;
    }
    div.cart.swiper-slide {
        width: 360px !important;
    }
    div.cart.swiper-slide h4 {
        font-size: 22px;
    }
    div.cart.swiper-slide h5 {
        font-size: 18px;
    }
}
@media (width <= 490px) {
    div.cart.swiper-slide {
        width: 330px !important;
    }
}
@media (width <= 450px) {
    div.cart.swiper-slide {
        width: 300px !important;
        height: 210px !important;
    }
    div.cart.swiper-slide h4 {
        font-size: 20px;
    }
    div.cart.swiper-slide h5 {
        font-size: 16px;
    }
    div.cart.swiper-slide .cart-footer {
        font-size: 13px;
    }
}
@media (width <= 400px) {
    div.cart.swiper-slide {
        width: 290px !important;
        height: 200px !important;
    }
}
@media (width <= 350px) {
    div.cart.swiper-slide {
        width: 237px !important;
        height: 170px !important;
    }
    div.cart.swiper-slide h4 {
        font-size: 17px;
    }
    div.cart.swiper-slide h5 {
        font-size: 13px;
        margin-bottom: 0;
    }
    div.cart.swiper-slide .cart-footer {
        font-size: 11px;
    }
    div.mt-4.row > div.col-sm-6.col-lg-6 button,
    div.mt-4.row > div.col-sm-6.col-lg-6 a {
        font-size: 10px !important;
    }
}
@media (width <= 330px) {
    div.cart.swiper-slide {
        width: 207px !important;
    }
    div.cart.swiper-slide h4 {
        font-size: 15px;
    }
    div.cart.swiper-slide h5 {
        font-size: 12px;
    }
    div.cart.swiper-slide .cart-footer {
        font-size: 9px;
    }
}
@media (width <= 300px) {
    div.cart.swiper-slide {
        width: 192px !important;
        height: 155px !important;
        margin: 0 auto;
    }
    div.mt-4.row > div.col-sm-6.col-lg-6 a {
        font-size: 8px !important;
        padding: 10px 0;
    }
}

.card-box {
    padding: 15px;
}

.file-area {
    width: 100%;
    position: relative;
    font-size: 18px;
}

#remove-image {
    position: absolute;
    top: 5px;
    left: 5px;
}

.file-area input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.file-area .file-dummy {
    width: 100%;
    padding: 50px 30px;
    border: 2px dashed #ccc;
    background-color: #fff;
    text-align: center;
    transition: background 0.3s ease-in-out;
}

.addFile {
    border: 2px dashed #ccc;
    height: 130px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.addFile i {
    font-size: 35px;
    cursor: pointer;
}

.file-area .file-dummy .success {
    display: none;
}

.file-area:hover .file-dummy {
    border: 2px dashed #1abc9c;
}

.file-area input[type="file"]:valid + .file-dummy {
    border-color: #1abc9c;
}

.file-area input[type="file"]:valid + .file-dummy .success {
    display: inline-block;
}

.file-area input[type="file"]:valid + .file-dummy .default {
    display: none;
}

.message-box {
    border-radius: var(--radius);
    border: 1px solid var(--first-100);
    background-color: var(--first-200);
    padding: 25px;
    color: #000 !important;
    font-size: 16px;
    max-width: 90%;
    min-width: 200px;
    position: relative;
    margin-bottom: 20px;
}

.message-box-left {
    margin-right: auto;
    border: 1px solid var(--first-200);
    background-color: var(--first-100);
}

.message-box .message-sender {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: grey;
}

.message-box .border-top {
    border-top-color: #000 !important;
}

.message-box a {
    color: #000;
    text-decoration: none;
}

#topnav .has-submenu.active > a {
    color: #6c757d;
}

.badge.bg-info:hover {
    color: #fff;
}

#topnav .navigation-menu {
    max-height: 600px !important;
}

/*              end cart              */

/*            H A S H E M I           */
.ad-title__button {
    bottom: 6px;
    border: none;
    outline: none;
    background-color: #ebeff2;
    border-radius: var(--radius);
    padding: 0.43rem 1.5rem;
    color: var(--gray);
    transition: color 0.3s ease, background 0.3s ease;
    left: 0.5rem;
    pointer-events: none !important;
}
.ad-title__button:hover {
    background-color: #d3d9de;
    color: var(--gray-500);
}

.ad-title .form-control {
    height: calc(2em + 1rem + 2px);
}

.ad-title__search {
    top: 50%;
    translate: 0 -50%;
    left: 1.25rem;
}

.ad-title__search i {
    pointer-events: none;
}

.ad-title__search--container:has(input:focus) .ad-title__search i {
    opacity: 0.25;
}

.ad-title__accordion .card {
    margin-bottom: 0px;
}

.ad-title__modal .modal-dialog {
    width: 60rem;
    max-width: 90dvw;
}

.ad-title__accordion {
    border-radius: var(--radius);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ad-title__accordion-item {
    /* border-bottom: 1px solid #ddd; */
}

.ad-title__accordion-header {
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f9f9f9; */
    background-color: transparent;
}

.ad-title__accordion-header:hover {
    background-color: #eaeaea;
}

.ad-title__accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
    background-color: var(--gray-100);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-radius: var(--radius);
}

.ad-title__accordion-content p {
    margin: 10px 0;
}

.ad-title__accordion-content.show {
    max-height: 150px;
    overflow-y: auto;
}

.ad-title__accordion-content .custom-control.custom-checkbox {
    min-height: unset;
    padding-block: 0.5rem;
}
.ad-title__accordion-content .custom-control.custom-checkbox label {
    cursor: pointer !important;
}

.arrow-wrapper {
    width: 2rem;
    height: 2rem;
    border-radius: var(--radius);
    background-color: var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-title__search-results {
    padding: 0px 15px 15px 15px;
    background-color: transparent;
    max-height: 350px;
    overflow-y: auto;
}

.ad-title__search-results .custom-control.custom-checkbox {
    min-height: unset;
    padding-block: 0.75rem;
}

.ad-title__search-results .custom-control.custom-checkbox label {
    cursor: pointer !important;
    color: #909c9f;
}

.ad-title__modal input.form-control:focus {
    box-shadow: 0px 0px 5px 0px rgba(64, 168, 220, 0.5) !important;
    border-color: rgba(64, 168, 220, 0.5) !important;
}

.my-wallet {
    position: absolute;
    bottom: 0;
    left: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;

    span {
        font-size: 12px !important;
        letter-spacing: -0.06rem;
        &:first-child {
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 400;
            color: var(--gray-200);
        }
        &:last-child {
            font-weight: 600;
        }
    }
}

.jobseeker-steps-container {
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));*/
    /*place-content: center;*/
    /*place-items: center;*/
    /*row-gap: 20px;*/
    /*column-gap: 12px;*/
}

.jobseeker-step {
    /*width: 210px;*/
    height: 190px;
    border-radius: var(--radius);
    background-color: color-mix(in srgb, #99d94c 5%, white 90%);
    box-shadow: rgba(154, 217, 76, 20%) 0px 3px 0px;
    /* box-shadow: rgba(154, 217, 76, 20%) 0px 4px 12px; */
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    padding: 10px;
    position: relative;
    isolation: isolate;

    span.counter {
        position: absolute;
        bottom: 0px;
        right: 30px;
        font-size: 60px;
        color: #eeedfa;
        z-index: -1;
    }

    & .icon-wrapper {
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
        i {
            font-size: 30px;
            color: #99d94c;
        }
    }
    .vector-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;

        svg {
            filter: opacity(0.1);
        }
    }

    .title {
        padding: 10px 10px 0 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row-reverse;
        gap: 10px;

        & span {
            font-size: 14px;
            letter-spacing: -0.05rem;
            color: #99d94c;
            font-weight: 500;
        }
        & i {
            color: #99d94c;
        }
    }
    .description ,.description a {
        font-size: 12px;
        letter-spacing: -0.02rem;
        line-height: 1.8;
        font-weight: 400;
        color: var(--gray-300);
        margin-block-start: 10px;
        padding-inline-start: 15px;
        text-align: justify;
        padding-inline-end: 10px;
    }
}

.jobseeker-step.imperfect {
    background-color: color-mix(in srgb, #e4475f 3%, white 90%);
    box-shadow: rgb(228 71 95 / 20%) 0px 3px 0;

    & .icon-wrapper {
        i {
            color: #f50057;
        }
    }

    .title {
        & span {
            color: #f50057;
        }
        & i {
            color: #f50057;
        }
    }
}

.courses-container {
    .swiper {
        width: 100%;
        height: 100%;
        padding-block-start: 30px;
    }

    .swiper-slide {
        --gray-text: #8d9399;
        --border-color: #efeff9;
        background: transparent !important;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;

        a {
            background-color: transparent;
        }

        .card-test {
            --card-bg: white;
            --card-radius: 16px;
            --curve-radius: 30px;
            width: 100%;
            height: fit-content;
            background: var(--card-bg);
            overflow: hidden;
            border-radius: var(--card-radius);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
                0 1px 2px -1px rgba(0, 0, 0, 0.1);

            .top {
                width: 100%;
                height: 250px;
                /* background: url("https://images.unsplash.com/photo-1601682633973-a76aa17a7844?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
                position: relative;
            }

            .bottom {
                position: relative;
                width: 100%;
                /* margin-top: calc(var(--curve-radius) * -1); */

                .content {
                    padding: 20px 18px 17px 10px;
                    z-index: 2;
                    position: relative;
                    gap: 10px;

                    h2 {
                        margin: 0px;
                    }
                }
                .card-footer {
                    padding: var(--bs-card-cap-padding-y)
                        var(--bs-card-cap-padding-x);
                    color: var(--bs-card-cap-color);
                    background-color: var(--bs-card-cap-bg);
                    border-top: var(--bs-card-border-width) solid
                        var(--bs-card-border-color);
                }
                .card-footer {
                    padding-inline: 18px;
                }
                .card-footer:last-child {
                    border-radius: 0 0 var(--bs-card-inner-border-radius)
                        var(--bs-card-inner-border-radius);
                }
            }
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
    }
}

.courses-container {
    .swiper-card {
        width: 100%;
        .test-pages__box {
            height: 200px;
            overflow: clip;
            border: 1px solid rgb(231, 231, 235);
            position: relative;
            border-radius: var(--radius);
            display: flex;
            flex-direction: row;
            background-color: #fff;

            &::before {
                position: absolute;
                top: 7px;
                left: 7px;
                content: "";
                width: 15px;
                height: 15px;
                border-top: 1px solid rgba(215, 215, 220, 0.885);
                border-left: 1px solid rgba(215, 215, 220, 0.885);
                border-top-left-radius: 5px;
            }
            .test-pages__box-text {
                --ab-title: #237c6d;
                flex: 0 0 65%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding-inline-start: 20px;
                padding-block-start: 10px;

                h2 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.6;
                    letter-spacing: -0.04rem;
                    margin: 0;

                    a {
                        color: #0d0c1b;
                    }
                }
                .advertisements-box-info {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 5px;

                    span {
                        font-size: 14px;
                        font-weight: 200;
                        color: var(--text);
                        min-width: max-content;
                        line-height: 1.4;

                        &:first-child {
                            color: var(--ab-title);
                        }
                    }
                }
            }

            .test-pages__box-image {
                flex: unset !important;
                display: grid;
                grid-template-columns: 1fr 15px;
                grid-template-rows: 15px 1fr;
                padding-inline-end: 0 !important;
                width: 100%;

                img {
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                    align-self: flex-start;
                    justify-self: flex-end;
                    border-right: var(--radius);
                    border-radius: 0;
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }

            .send-resume-btn {
                position: absolute;
                bottom: -41px;
                left: -22px;
                background-color: var(--yellow);
                border-radius: 50%;
                width: 100px;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding-block-start: 25px;
                padding-inline-start: 12px;

                a {
                    font-size: 13px;
                    color: #fff;
                    transition: all 100ms ease;
                    text-decoration: none;
                }
            }
        }
    }
}

.status_requests-container-title {
    color: #343a40;
    font-weight: 600;
}

.status_requests-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    .status_requests-box {
        --tw-gradient-to: #842990;
        --tw-gradient-from: #2d31a0;
        --tw-gradient-stops: var(--tw-gradient-from),
            var(--tw-gradient-to, rgba(45, 49, 160, 0));
        background-image: linear-gradient(to left, var(--tw-gradient-stops));
        color: #fff;
        width: 100%;
        height: 5rem;
        border-radius: var(--radius);
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        position: relative;
        justify-content: space-evenly;
        padding-inline: 0.625rem;

        & > span {
            &:first-child {
                /* font-size: 16px; */
                font-weight: 700;
                letter-spacing: -0.04rem;
            }
            &:nth-child(2) {
                /* font-size: 14px; */
                font-weight: 300;
            }
        }

        .status-check {
            position: absolute;
            top: 0.625rem;
            left: 0.625rem;
            display: flex;
            gap: 0.625rem;
            align-items: center;

            span.status-text {
                font-size: 12px;
                font-weight: 300;
                color: #ffe740;
                animation: colorToggle 1s infinite linear forwards alternate;
            }

            .status-circles {
                --width: 0.625rem;
                width: var(--width);
                height: var(--width);
                border-radius: 100%;
                background: transparent;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 2px;
                    z-index: 11;
                    border-radius: inherit;
                    background-color: color-mix(
                        in srgb,
                        #ffe740 100%,
                        white 20%
                    );
                }

                &::after {
                    content: "";
                    position: absolute;
                    z-index: 10;
                    border-radius: inherit;
                    background-color: color-mix(
                        in srgb,
                        #ffe740 25%,
                        white 50%
                    );
                    animation: statusToggle 1000ms linear forwards alternate
                        infinite;
                }
            }
        }
    }

    .status_requests-box.finished {
        --grenn: #448b68;
        --green-2: #adf4cc;

        .status-circles {
            &::before {
                inset: 0;
                background-color: var(--green);
            }
            &::after {
                display: none;
            }
        }

        span.status-text {
            color: var(--green);
            animation: unset;
        }
    }

    .status_requests-box.rejected {
        --red: #f95e89;
        --red-2: #b04474;
        --red-3: #f44461;

        .status-circles {
            &::before {
                inset: 0;
                background-color: var(--red-3);
            }
            &::after {
                display: none;
            }
        }

        span.status-text {
            color: var(--red-3);
            animation: unset;
        }
    }
}

@keyframes statusToggle {
    0% {
        inset: -5px;
    }
    100% {
        inset: 1px;
    }
}

@keyframes colorToggle {
    0% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

.steps-box-wrapper {
    background-color: #fff;
    border-radius: var(--radius);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    padding: 20px 10px 35px 10px;
    gap: 1.5rem;
}

.width-limiter {
    max-width: 100dvw;
    overflow-x: clip;
}

.font-clamp-calc-text {
    font-size: calc(clamp(0.875rem, 0.347vw + 0.708rem, 1.125rem));
}
.font-clamp-calc-title {
    font-size: calc(clamp(1rem, 0.347vw + 0.833rem, 1.25rem));
}

@media (width <= 768px) {
    .steps-box-wrapper {
        border-radius: var(--radius);
        box-shadow: 0 3px 1px 0px rgba(0, 0, 0, 0.1);
    }
    .jobseeker-steps-container {
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        place-content: center;
        place-items: center;
    }
    .status_requests-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .font-clamp-calc-text {
        font-size: calc(clamp(0.813rem, 0.893vw + 0.634rem, 1.063rem));
    }
    .font-clamp-calc-title {
        font-size: calc(clamp(0.875rem, 0.893vw + 0.696rem, 1.125rem));
    }
}


.box__wrapper[data-mb] {
    .slider {
        --slider-padding: 1rem;
        --slider-column-gap: 1rem;
        --slide-width: 10%;
        --slide-min-width: 5rem;
        position: relative;
        overflow: hidden;
      }
      .slider__track {
        display: flex;
        overflow-x: auto;
        -ms-scroll-snap-type: x mandatory;
            scroll-snap-type: x mandatory;
        padding-inline: var(--slider-padding);
        scroll-behavior: smooth;
        list-style-type: none;
        padding: 0;
        margin-right: calc(var(--slider-column-gap) * -1);
        scrollbar-width: none;
      }
      .slider__track > * {
        flex: 0 0 var(--slide-width);
        min-width: var(--slide-min-width);
        scroll-snap-align: start;
        scroll-snap-stop: always;
        padding-right: var(--slider-column-gap);
      }
      .slider__track::-webkit-scrollbar {
        display: none;
      }
      .slider__buttons {
        position: absolute;
        top: 50%;
        right: 0;
        translate: 0 -50%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
      }
      .slider__buttons [disabled] {
        opacity: 0.5;
      }

      .slider__button {
        border: none;
        outline: none;
        background: transparent;
        font-size: 2rem;
        pointer-events: all;
    }

      .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        /* aspect-ratio: 1/1; */
          border-radius: var(--radius);
        /* background: #6c5ce7; */
        background: transparent;
        color: #a29bfe;
        font-size: 3rem;
        font-weight: 700;
      }

      .container {
        position: relative;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
      }
}

  .box__wrapper {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 1px;
      border-radius: var(--radius);
    padding: 20px 16px 35px;
    &[data-mb] {
        margin-block-end: 2.5rem;
    }
  }


  @media (width <= 425px) {
    .slider {
        --slider-padding: 1rem;
        --slider-column-gap: 1rem;
        --slide-width: 50%;
        --slide-min-width: auto;
    }
  }


  @media (425px < width <= 768px) {
    .slider {
        --slider-padding: 1rem;
        --slider-column-gap: 1rem;
        --slide-width: 33%;
        --slide-min-width: auto;
    }
  }

  @media (768px < width <= 1024px) {
    .slider {
        --slider-padding: 1rem;
        --slider-column-gap: 1rem;
        --slide-width: 20%;
        --slide-min-width: auto;
    }
  }

  .latest-box-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;

    .table-responsive {
        margin-block-start: 1rem;
    }

    & .table-responsive table.table :is(thead, tbody) tr {
        &:nth-child(odd) {
            background-color: #fff;
        }
        &:nth-child(even) {
            background-color: #eef3ee;
        }
    }

    & .table-responsive table.table :is(thead, tbody) tr th {
        border: none;

        .badge {
            padding-block: .5rem;
            padding-inline: .625rem;
            border-radius: var(--radius);
        }
    }
  }

  .mb-2\/5 {
    margin-block-end: 2.5rem;
  }

  :is(.your-latest-job-applications-title, .Latest-job-ads-title) {
    font-weight: 500;
    line-height: 1.8;
    margin: 0px;
  }
/*          H A S H E M I - END       */
